.container {
	position: fixed;
	top: 32px;
	left: 0;
	z-index: 101;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	background-color: #000000;
	cursor: pointer;
	transition: transform 0.3s ease;

	&:hover {
		background-color: #ffc802;
	}

	&:active {
		background-color: #787878;
	}

	&_open {
		transform: translateX(614px);
	}
}

.arrow {
	width: 48px;
	height: 48px;
	transform: rotate(180deg);
	transition: transform 0.3s ease;

	&_open {
		transform: rotate(0deg);
	}
}
